* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
}

.categories {
  padding: 2vw;
  width:24%;
  border-right: 1px solid black;
  height: 100vh;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x:auto;
}

.categories li {
  text-align: center;
  list-style: none;
  font-size: 2vw;
  padding: 1rem;
  background-color: rgb(237, 168, 64);
  border:solid black;
  border-radius: 0.5rem;
  cursor: pointer;
}

.categories li:hover{
  color:brown;
  font-size: 2.2vw;
  font-weight: bold;
}

.category-list {
  display: flex;
  flex-direction: column;
  margin-top: 7vh;
  gap: 8vh;
  justify-content: space-evenly;
}


.categories h2 {
  text-align: center;
  font-size: 3vw;
  margin-top: 2vh;
}

.container {
  margin-left: 12vw;
  align-items: center;
  text-align: center;
  margin-top:5vh;
  display: flex;
  gap: 4vw;
  flex-direction: column;
  align-items: center;
}


.matches {
  display: flex;
  gap: 8vw;
}

.options {
  display: flex;
}

.first,
.second {
  display: flex;
  flex-direction: column;
  gap: 6vh;
  justify-content: space-between;
}

.first-span,
.second-span {
  font-size: 1.5rem;
}

span.score {
  position: relative;
  font-size: 1.7rem;
}

.result {
  top: 45%;
  left: 45%;
  position: absolute;
  font-size: 1.5rem;
}

.firsts,
.seconds {
  padding: 1.7vw;
  font-size: 2vw;
  background-color: thistle;
  border-radius: 8px;
  cursor: pointer;
  border:solid black;
  flex-grow: 1;
}
.seconds {
  background-color: lightblue;
}

.firsts:hover{
  text-shadow: 0 0 2px violet, 0 0 2px violet, 0 0 2px violet;
}
.seconds:hover{
  text-shadow: 0 0 2px rgb(138, 138, 191), 0 0 2px rgb(91, 112, 167), 0 0 2px rgb(255, 227, 255);
}

@media screen and (max-width: 420px) {
  .categories {
    display: none;
  }
  .matches {
    padding: 1rem;
    margin-right: 4rem;
  }
  .container {
    text-align: center;
    scale: 0.9;

  }
  .score {
    margin-top: 1rem;
    margin-right: 3.2rem;
  }
  .result {
    position: relative;
    top: 24rem;
    left: 3.5rem;
    font-size: 0.9rem;
  }
}
